.page-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 10rem;
    width: 100%;
}

.page-top {
    h1 {
        font-size: 2rem;
        margin-bottom: 3rem;
    }
    h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
}