.page-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-left: 10rem;
    width: 100%;
}

.page-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #3E79E5;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    color: #3E79E5;
    margin-bottom: 5px;
    font-size: .9rem;
}

input[type="text"], input[type="email"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: .9rem;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="email"]:focus {
    border-color: #01B8E3;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

input[type="reset"],
input[type="submit"] {
    width: 45%;
    font-size: .9rem;
    padding: 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #fff;
}

input[type="reset"] {
    background-color: #e57373;
}

input[type="submit"] {
    background: linear-gradient(to right, #3E79E5, #01B8E3);
}

p.success {
    color: green;
    text-align: center;
    margin-top: 10px;
}

p.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}
