.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container-graph {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.choice {
    padding: 20px;
}

.separator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 3px;
    font-size: 30px;
}

.select-wrapper {
    background: linear-gradient(to right, #3E79E5, #01B8E3);
    padding: 2px;
    border-radius: 12px;
    display: inline-block;
}

.select-list {
    border: none;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    max-height: 200px;
    overflow-y: auto;
}

.select-list:hover {
    cursor: pointer;
}

.select-list:focus {
    box-shadow: 0 0 5px rgba(62, 121, 229, 1);
}

.button {
    display: inline-block;
    max-width: 200px;
    background: linear-gradient(to right, #3E79E5, #01B8E3);
    border: 0 solid transparent;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}