/*Partie Header*/
.superieur{
    width: 100%;
    background-color: #1d4851;
    padding: 2%;
    color: white;
}

.retour{
    margin-left: 1%;
    width: auto;
    background: white; 
    color: #1d4851;
    border-radius: 7%;
    font-size: 100%;
    border: none;
}

.deconnexion{
    width: 10%;
    background: white; 
    color: #1d4851;
    float: right;
    border-radius: 7%;
    font-size: 100%;
    border: none;
}

.inferieur{
    width: 100%;
    padding: 1%;
    color: white;
    display: flex;
    align-items: center;
}

.direction{
    width: 10%;
    margin-right: 8%;
    text-align: center;
    margin-bottom: -16px;
}
.direction:link{
    text-decoration: none;
}

.direction :hover{
    color: orange;
    transition: linear 0.2s;
}

.nav{
    color: white;
    transition: linear 0.2s;
    width: 100%;
    background: #1d4851; 
    border-radius: 7%;
    border: none;
}

.texte{
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
}

/* Partie Central */

.titre{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
}

.imp{
    margin-bottom: 2%;
}

.grp{
    color: white;
    transition: linear 0.2s;
    background: #1d4851; 
    border-radius: 7%;
    border: none;
}
.liste{
    margin-top: 1%;
}
.grp:hover{
    color: orange;
    transition: linear 0.2s;  
}

.choix :hover{
    color: orange;
    transition: linear 0.2s;
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem;
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem;
    }
}

.padding {
    padding: 5rem;
}

.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(19, 24, 44, .03);
    border-bottom: 1px solid rgba(19, 24, 44, .125);
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

card-footer,
.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box;
}